.landing ul {
  list-style: none;
}

.landing a {
    text-decoration: none;
}

.landing h4 {
  font-size: 20px;
  padding-bottom: 15px;
}

.landing h2 {
  font-size: 30px;
  padding-bottom: 5px;
}

.landing p {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}